<article>
	<h2 class="page-title">Genres</h2>
	<h3>Add a New Genre</h3>
	<form action="/genres" method="POST" id="new-genre">

		<fieldset>
			<label for="name">Name
				<input type="text" id="add-name" name="name">
			</label>

			<input type="submit" id="new-genre-submit" name="add" value="Submit">
		</fieldset>

	</form>
	
	<div id="genre-edit-form">
		<h3>Edit Genre</h3>
		<form action="/genres" method="POST" >

		<fieldset>
			<input type="hidden" id="edit-genre-id" name="genreID" value=""/>
			
			<label for="editname">Edit Genre
				<input type="text" id="edit-genre-name" name="name" value="">
			</label>

			<input type="submit" id="edit-genre-submit" name="edit" value="Submit">
		</fieldset>

		</form>
	</div>
	
	<h3>Current Genres in the Library</h3>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		{{#each genres}}
			<tr>
				<td>{{this.name}}</td>
				<td>
					<form>
						<input type="hidden" value="{{this.id}}"/>
						<input type="submit" class="genre-edit" name="{{this.name}}" value="Edit" id="genre-{{this.id}}"/>
					</form>
				</td>
				<td>
					<form action="/genres" method="POST" id="delete-genre">
						<input type="hidden" value="{{this.id}}" name="genreID"/>
						<input type="submit" class="delete" name="delete" value="Delete" />
					</form>
				</td>
			</tr>
		{{/each}}
	</table>
</article>
