<article>
	{{#each book}}
	<h2 class="page-title">{{this.title}}</h2>
	<ul>
		<li>Primary Author: {{this.fname}} {{this.lname}}</li>
		<li>Year Published: {{this.date_published}}</li>
		<li>ISBN: {{this.isbn}}</li>
	</ul>
	{{/each}}
</article>