<article>
	<h2 class="page-title">Books</h2>
	<h3>Add a New Book to the Sea OWL Library</h3>
	<form action="/books" method="POST" id="new-book">

		<fieldset>
			<label for="title">Title
				<input type="text" id="add-title" name="title">
			</label>

			<label for="date">Date Published
				<input type="date" id="add-date" name="date_published">
			</label>

			<label for="isbn">ISBN
				<input type="text" id="add-isbn" name="isbn">
			</label>

			<label for="author">Author
				<select name="author">
					{{#each authors}}
					<option value="{{this.id}}">{{this.fname}} {{this.lname}}</option>
					{{/each}}
				</select>
			</label>

			<label for="genre">Genre
				<select name="genre">
					{{#each genres}}
					<option value="{{this.id}}">{{this.name}}</option>
					{{/each}}
				</select>
			</label>

			<input type="submit" id="new-book-submit" name="add" value="Submit">
		</fieldset>

	</form>

	<p>If you don't see the author or genre related to the book that you'd like to add in the corresponding dropdown menus in the form above, please add the author using one of the forms below, or go to the <a href="/genres"><strong>Genre<strong></a> or <a href="/authors"><strong>Authors</strong></a> page to see all genres and authors and manage them there!</p>
	<h3>Add a New Genre</h3>
	<form action="/genres" method="POST" id="add-genre" >
		<label for="name">Genre Name
			<input type="text" id="add-genre-name" name="name">
		</label>
		<input type="submit" id="new-genre-submit" name="Submit">
	</form>

	<h3>Add a New Author</h3>
	<form action="/authors" method="post" id="add-author" >
		<label for="author-fname">First Name
			<input type="text" id="add-author-fname" name="fname">
		</label>
		<label for="author-lname">Last Name
			<input type="text" id="add-author-lname" name="lname">
		</label>
		<input type="submit" id="new-author-submit" name="submit-author-from-books" value="Submit">
	</form>
	<h3>Current Books in the Sea OWL Library</h3>
	<form action="/" method="post" id="search" >
		<label for="search">Search by Title
			<input type="text" id="title-search" name="Search">
		</label>
	</form>
	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Year Published</th>
				<th>View</th>
				<th>Delete</th>
			</tr>
		</thead>
		{{#each books}}
			<tr>
				<td>{{this.title}}</td>
				<td>{{this.date_published}}</td>
				<td><a href="/book/{{this.id}}">View</a></td>
				<td>
					<form action="/books" method="POST" id="delete-book">
						<input type="hidden" value="{{this.id}}" name="bookID"/>
						<input type="submit" class="delete" name="delete" value="Delete" />
					</form>
				</td>
			</tr>
		{{/each}}
	</table>
</article>
